@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.navigation {
  background-color: #22d3ee;
  padding-left: 2rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.link {
  display: inline;
  padding: 1rem;
}

.nav-link {
  text-align: right;
}

.linked {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.link a:hover {
  color: grey;
}

.heading {
  padding: 0rem;
  text-align: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog-image {
  max-width: 100%;
  margin: 2rem auto;
  height: 38vh;
}

.firstblog {
  text-align: center;
  background-color: #f4f4f5;
  padding-bottom: 2rem;
  padding-top: 1rem;
}

.secondblog {
  text-align: center;
  padding-bottom: 2rem;
}

.btn {
  background-color: #22d3ee;
  border-radius: 1rem;
  text-decoration: none;
  border: 1rem;
  padding: 0.5rem 1.5rem;
  color: white;
}

.btn:hover {
  border: 1px solid #22d3ee;
  background-color: white;

  /* transition: 0.7s; */
}

.btn:hover a {
  color: #22d3ee;
}

.btn a {
  text-decoration: none;
  color: white;
}

.link a:hover {
  color: grey;
  font-weight: bold;
}

.footer-icon:hover {
  background-color: #06b6d4;
  border-radius: 0.2rem;
}

.footer {
  text-align: center;
  padding-top: 2rem;
  background-color: #22d3ee;
}

.footer-heading {
  padding-bottom: 1rem;
  padding-bottom: 2rem;
  color: white;
  font-size: 1.5rem;
}

.sociallinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2rem;
}

.linkedinicon {
  padding-left: 20rem;
  margin-left: 40rem;
}

.twittericon {
  padding-right: 4em;
  align-items: center;
  padding-left: 4rem;
}

.githubicon {
  padding-right: 20rem;
  margin-right: 40rem;
}

.fa-linkedin-in {
  color: white;
}

.fa-twitter {
  color: white;
}

.fa-github {
  color: white;
}

.footer-heading {
  font-weight: bold;
}
